@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --default-layout-header-height: 60px;
  --default-layout-width: 1440px;
  --black: #000;
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
.iconsStyle {
  font-weight: bold;
}
