.actionList {
  margin-top: -1px;
}
ul {
  list-style: none;
  li {
    padding: 10px 8px 10px 16px;

    &:hover {
      background-color: ghostwhite;
    }
    span {
      margin-right: 16px;
      font-size: 2rem;
    }
  }
}
.link {
  color: black;
  text-decoration: none;
}
