.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  min-height: 1000px;
  display: flex;
  z-index: -1;
}
.content {
  flex: 1;
}
