.wrapper {
  --search-height: 46px;
  --top-space: 9px;
  --search-button-width: 52px;
  --search-bar-width: 500px;
  height: var(--default-layout-header-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}
.inner {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.logo {
  align-self: center;
  display: flex;
}

.headerAction {
  display: flex;
  gap: 26px;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
  .upload {
    border: 1px solid rgb(179, 176, 172);
    padding: 0 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 36px;
    font-weight: 600;
    font-size: 16px;
    .uploadIcon {
      margin-right: 10px;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(245, 238, 238);
    }
  }
  .message {
    z-index: 4;
  }
}
.upload,
.message,
.messageBox {
  display: flex;
  justify-items: center;
}
.moreAction {
  font-size: 2rem;
  border: none;
  background-color: white;
  padding: 6px;
  &:hover {
    cursor: pointer;
  }
}
.profile {
  display: block;
  height: 36px;
  width: 36px;
  font-size: 16px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 236, 236, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
