.wrapper {
  --search-height: 46px;
  --top-space: 9px;
  --search-button-width: 52px;
  --search-bar-width: 500px;
  height: var(--default-layout-header-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}
.inner {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.logo {
  align-self: center;
  display: flex;
}
.searchBar {
  display: flex;
  height: var(--search-height);
  width: var(--search-bar-width);
  border-radius: 92px;
  background-color: #f1f1f1;
  overflow: hidden;
  padding-left: 16px;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: var(--search-button-width);
    top: var(--top-space);
    width: 1px;
    height: calc(var(--search-height) - var(--top-space) * 2);
    background-color: rgba(105, 109, 126, 0.34);
  }
  &:hover {
    outline: 1px solid rgba(22, 24, 35, 0.34);
    .searchIcon {
      background-color: rgb(211, 203, 203);
    }
  }
}
.searchResult {
  width: 500px;
}
.searchInput {
  flex: 1;
  border: none;
  background-color: #f1f1f1;
  outline: none;
  font-size: 1.6rem;
  height: 100%;
}
.searchInput:not(:placeholder-shown) ~ .clear {
  display: block;
}
.searchInput:not(:placeholder-shown) ~ .load {
  display: block;
}
.searchIcon {
  border: none;
  color: rgba(22, 24, 35, 0.34);
  width: 52px;
  height: 100%;
  font-size: 1.8rem;
  &:hover {
    cursor: pointer;
  }
}
.clear,
.load {
  display: none;
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.6rem;
  border: none;
  position: absolute;
  transform: 50%;
  translate: (-50%, -50%);
  right: calc(var(--search-button-width) + 8px);
}
.load {
}
.headerAction {
  display: flex;
  gap: 10px;

  justify-content: space-around;
  align-items: center;
  .upload {
    border: 1px solid rgb(179, 176, 172);
    padding: 0 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    min-width: 11rem;
    font-weight: bold;

    .bi-plus {
      margin-right: 10px;
    }
  }
  .message {
    .bi-send {
    }
  }
}
.upload,
.message,
.messageBox {
  display: flex;
  justify-items: center;
}
.profile {
  display: block;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
}
.moreAction {
  border: none;
  background-color: white;
  padding: 16px;
  padding-right: 0;
  &:hover {
    cursor: pointer;
  }
}
